* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.item {
  flex-basis: 100px;
  height: 100px;
  background-color: burlywood;
  padding: 10px;
  border: 6px solid darkred;
  margin: 10px;
}

.item:nth-child(2) {
  order: 4;
  flex-basis: 50px;
  height: 50px;
  align-self: flex-end;
}
.item:nth-child(3) {
  order: 1;
  flex-basis: 80px;
  height: 80px;
  align-self: flex-end;
}
