.box {
  display: inline-block;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  background-color: burlywood;
  padding: 10px;
  border: 5px solid darkred;
  margin: 10px;

  /* padding: 16px 42px; */
}

.box:nth-child(even) {
  background-color: gold;
}
